@charset "utf-8";

body,td,th { font-family: "Trebuchet MS"; font-size: 15px; color: #BCBCBC; }
body { background-color: #BCBCBC; margin: 0 0 0; } 

#container { height:762px; background-color:#fff; float:left; margin-right:20px; margin-bottom:0; margin-left:0px; padding:3px 0 3px 0; position: absolute; z-index: 0; }
#container img { margin-left:0px; }
#container ul li { float:left; height:720px; margin-right:0px; }

.container {
}
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
.grid-item--gigante {
  width: 320px;
  height: 360px;
}