  /* CSS: 
   * version Oktober 18 2016
   * created by Mendel Broekhuijsen
   */

* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 100%; }

body {
  background-color: black;
  background-image: url('/images/multi-user-screen-large.png');
  background-repeat: repeat;
  margin: 0 0 0 0;
}


/* ---- grid ---- */

.grid {
  /*background: black;*/
  height: 100%; /* inherit height from body */
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/*the loading spin*/
#loading{
  position: relative;
  background-color: #E2E2E2;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)  
}

/*******IPAD GRID ITEMS*******\

/* Height iPad = 768px - 20px status bar = 748px
 * (If status bar= black-transparent, height = full 768px)
 * The grid is define with the row height of 249px
 * height 249 | 498 | 747
 * width (166) | 332 | 664 | 996
 * Height leaves 1px on the bottom of the div.
 */

/* ---- .grid-item ---- */

/* ----landscape small ---*/
.grid-item {
  float: left;
  width: 332px; /*grid row-width*/
  height: 249px;/*grid row*/
  /*background: #E6E6E6;*/
  border: 1px solid #FFF;
  overflow: hidden;
  margin: 0px;
}

.grid-item img {
  display:block;
  vertical-align: middle;
}

.grid-item--land-small{
  width: 332px; /*grid row-width*/
  height: 249px;/*grid row*/
}

/*NBNBNB hier gaat nog wat mis, want de >4:3 passen niet lekker als ze geselecteerd zijn;*/
/*.grid-item--land-small img { max-width: 100%; max-height: none;}*/

/*Deze class is van de photo, niet van de div, dus moet het niet img zijn*/
/*.landscape--4-3 { max-width: none; max-height: 100%;}*/

/* ----landscape big ---*/
.grid-item--land-big { 
	width: 664px;
 	height: 498px;
}

/*.grid-item--land-big img { max-width: 100%; max-height: none;}*/

/* ----portrait small ---*/
.grid-item--port-small { 
	width: 166px; /*grid row-width/ 2*/
	height: 249px;/*grid row*/
}
/*.grid-item--port-small img {max-width: none; max-height: 100%;}*/

/* ----portrait big ---*/
.grid-item--port-big {
	width: 332px; /*grid row-width*/
	height: 498px; /*grid row x 2*/
}

/*.grid-item--port-big img {max-width: none; max-height: 100%;}*/

/* ----panorama ---*/
.grid-item--pano {
	width: 498px;/*grid row x 2*/
	height: 249px;/*grid row*/
}
/*.grid-item--pano img {max-width: none; max-height: 100%;}*/

.grid-item--port-pano {
	width: 249px; /*grid row*/
	height: 498px; /*grid row x 2*/
}
/*.grid-item--port-pano img {max-height: 100%; max-width: none;}*/

/* ----square ---*/
.grid-item--square {
  width: 249px;/*grid row*/
  height: 249px;/*grid row*/
}
/*.grid-item--square img {max-width: 100%; max-height: 100%;}*/


/* when selected */
.item--selected{
	border: 20px solid #007399;	
	/*opacity: 0.4;*/
}


/* 
 * Rotations thanks to https://gist.github.com/mbonaci/9911390
 */
.rotate90 {
  max-width: none; 
  max-height: 100%;
  -webkit-transform:  translateY(-100%) rotate(90deg);
  -moz-transform:     translateY(-100%) rotate(90deg);
  -ms-transform:      translateY(-100%) rotate(90deg);
  transform:          translateY(-100%) rotate(90deg);
  
  -webkit-transform-origin:   left bottom;
  -moz-transform-origin:      left bottom;
  -ms-transform-origin:       left bottom;
  transform-origin:           left bottom;
}

.rotate180 {
  -webkit-transform:  rotate(180deg);
  -moz-transform:     rotate(180deg);
  -ms-transform:      rotate(180deg);
  transform:          rotate(180deg);
}

.rotate270 {
  -webkit-transform:  translateX(-100%) rotate(-90deg);
  -moz-transform:     translateX(-100%) rotate(-90deg);
  -ms-transform:      translateX(-100%) rotate(-90deg);
  transform:          translateX(-100%) rotate(-90deg);
  
  -webkit-transform-origin:   top right;
  -moz-transform-origin:      top right;
  -ms-transform-origin:       top right;
  transform-origin:           top right;
}



/*******ARENA GRID ITEMS*******\

/* Height Arena = height:1200px; width:10080px
 * The grid is define with the row height of 399px
 * height 399 | 798 | 1197
 * width (266) | 532 | 1064 | 1596
 * The height will leave 3px on the bottom of the view (in black)
 */

/* ---- .arena-item ---- */

/* ----landscape small ---*/
.arena-item--land-small {
  float: left;
  width: 532px; /*grid row-width*/
  height: 399px; /*grid row*/
  /*background: #E6E6E6;*/
  border: 1px solid #FFF;
  overflow: hidden;
  margin: 0px;
}

.arena-item--land--small img {
  display:block;
  vertical-align: middle;
/*  max-width: 100%;
  max-height: none;*/
}

/* ----landscape big ---*/
.arena-item--land-big { 
  width: 1064px; /*grid row-width *2*/
  height: 798px; /*grid row x 2*/ 
}
/*.arena-item--land-big img { max-width: 100%; max-height: none;}*/

/* ----portrait small ---*/
.arena-item--port-small { 
  width: 266px; /*grid row-width/ 2*/
  height: 399px;/*grid row*/
}
/*.arena-item--port-small img {max-width: none; max-height: 100%;}*/

/* ----portrait big ---*/
.arena-item--port-big {
  width: 532px; /*grid row-width*/
  height: 798px; /*grid row x 2*/
}

/*.arena-item--port-big img {max-width: none; max-height: 100%;}*/

/* ----panorama ---*/
.arena-item--pano {
  width: 798px;/*grid width x 2*/ 
  height: 399px;/*grid row*/
}
/*.arena-item--pano img {max-width: none; max-height: 100%;}*/

.arena-item--port-pano {
  width: 399px; /*grid row*/
  height: 798px; /*grid row x 2*/
}
/*.arena-item--port-pano img {max-height: 100%; max-width: none;}*/

/* ----square ---*/
.arena-item--square {
  width: 399px;/*grid row*/
  height: 399px;/*grid row*/
}
/*.arena-item--square img {max-width: 100%; max-height: 100%;}*/

